
.screches-background {
    background-image: url('../Images/boi-hvp-850x445.jpg');
}

html {
  font-size: 14px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form .button{
    margin:20px 8px 10px;
}

/*.container {
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
}

 @media (min-width: 768px) {
     .container

{
     width: 750px;
}


}
@media (min-width: 992px) {
    .container

{
    width: 970px;
}


}

 @media (min-width: 1200px) {
    .container

{
    width: 1170px;
}

}
*/


/*@media(max-width:768px) {
    html {
        font-size: 50%;
        position: relative;
        min-height: 100%;
    }
    
    header .nav {
        width: 100%;
        margin:auto;
        padding: 0px;
    }
    tr.aRelativelyPositionedClass {
        display: block;
    }*/
    /*table tr:not(:first-child) td {
        height: 45px;
        border-bottom: 2px solid #D5D5D5;
    }*/
/*body {
        padding: 0px;
        margin: 0px;
    }
}
@media(max-width: 1024px){
    body {
        margin-left: -22px;
        margin-right: 55px;
    }
    table tr:not(:first-child) td {
        height: 50px;
        border-bottom: 1px solid #D5D5D5;
    }
}*/