@model BVS.Models.Entity.CompradorAssociado.Associado

@{
    ViewData["Title"] = "Atualizar";
}

<div class="d-flex justify-content-between align-content-center pt-3 pb-2">
    <h1>Atualizar Associado</h1>
    <a class="btn btn-primary btn-lg" asp-action="ObterTodos">Voltar</a>
</div>

<br />
<div class="row">
    <div class="col-md">
        <form asp-action="Atualizar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div hidden class="form-group">
                <label asp-for="CadastroId" class="control-label"></label>
                <input asp-for="CadastroId" class="form-control" />
            </div>
            <div class="card">
               <div class="card-header">Informações Pessoais</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label"></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CPF" class="control-label"></label>
                        <input asp-for="CPF" class="form-control" />
                        <span asp-validation-for="CPF" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fazenda" class="control-label"></label>
                        <input asp-for="Fazenda" class="form-control" />
                        <span asp-validation-for="Fazenda" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">Parceria</div>
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="DataDaParceria" class="control-label"></label>
                        <input asp-for="DataDaParceria" class="form-control" />
                        <span asp-validation-for="DataDaParceria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdComprador" class="control-label"></label>
                        <select asp-for="IdComprador" class="form-control" 
                        asp-items="@(new SelectList(ViewBag.selectComprador, "Value", "Text"))"
                        ></select>
                    </div>
                </div>
            </div>  
            <br />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-success btm-lg" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
